:root{
    --cor-primaria: #000000;
    --cor-segundaria: #B22222;
    --cor-terciaria: #FF0000;
}
h1 {
    background-color: var(--cor-segundaria);
}
body {
    display:block;
    position: relative;
    height: 100vh;
    width: 100vw;
    background-image: url(/img/imgTatto.PNG);
    background-size: cover;
    
    margin: 0;
}
body::-webkit-scrollbar {
    background-color: rgb(122, 0, 0);
    box-shadow: inset 0 0 7px black;
    width: 10px;
    height: 0px;
 }
 body::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-color: rgba(37, 14, 14, 0.575);
    box-shadow: inset 0 0 8px black;
 }
nav{
    background-color: #952727;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px;
}

.perfil{
    margin-top: 15px;
    background-color:#7556568F;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 40px;
    cursor: pointer;
    transition: background-color 0.3s;
}

nav button:hover{
    background-color: white;
    color: black;
    font-weight: bold;
}
#tatuador{
    background-color: black;
     color: white;
}
nav ul{
    display: flex;
    list-style-type: none;
}

nav ul li{
    margin-left: 30px;
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 36px;
    transition: color 0.3s;
}
nav ul li a:hover{
    color:white;
}
#links {
    display:flex; 
    justify-content: flex-end;
    width: 330px;
    padding: 20px;
    margin-left: 600px;
    
}
#formularios{
    width: 100%;
    display: flex;
    


}
#loguin{
    width: 400px;
    height: 350px;
    background-color:#F10D0DB8;
    display: block;
    padding: 30px;
    border-radius: 30px;
    margin-top: 40px;
    margin-left: 50px;
}
.loguin_normal{
    width: 300px;
    height: 40px;
    margin-bottom: 30px;
    margin-left: 30px;
    padding: 10px;
    border-radius: 50px;
    display: block;
    align-items: center;
    justify-content: center;
}
#loguin button{
    width: 300px;
    height: 50px;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: black;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 50px;
}

#loguin button:hover{
    background-color: white;
    color: black;
    font-weight: bold;
}
#loguins_externos{
    margin-top: 20px;
    margin-left: 50px;
    display: flex;
    padding-left: 30px;
}

#loguins_externos input{
    margin-left: 30px;
}
#cadastro{
    width: 400px;
    height: 650px;
    background-color:#F10D0DB8;
    display: block;
    padding: 30px;
    border-radius: 30px;
    margin-top: 40px;
    margin-left: 800px;
}
.cadastro_normal{
    width: 300px;
    height: 40px;
    margin-bottom: 30px;
    margin-left: 30px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 50px;
    display: block;
    align-items: center;
    justify-content: center;
}
#cadastro button{
    width: 300px;
    height: 50px;
    margin-top: 20px;
    background-color: black;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 50px;
}

#cadastro button:hover{
    background-color: white;
    color: black;
    font-weight: bold;
}