 body{
    background:linear-gradient(red 0% ,black 100%);
    height:1184px;
 }
 #scrl{
    margin: 5% 25%;
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
    width: 50%;
    height: 80%;
    background: linear-gradient(red 0%,black 150%);
    border: solid 5px rgb(138, 138, 138);
    border-radius: 15px;
 }
 #scrl img{
    height: 300px;
    align-items: center;
    margin: 1%;
    flex-grow: 1;
    flex-basis: 300px;
 }