
body {
    margin: 0;
    display:block;
    position: relative;
    background: linear-gradient(red,black);
    color: white;
 }
 #estilo_img{
    text-align: center;
    margin: 20px;
}

#estilo_img img {
    width: 150px;
    height: 150px;
}

h1 {
    text-align: center; 
    font-size: 25px;
}

#notificacao_img {
    display: flex;
    justify-content: end;
    margin-right: 55px; 
}
#notificacao_img img{
    position: absolute;
    top: 0;
    width: 25px;
    height:25px;
}
#clickCount {
    position: absolute;
    top: 0;
}
#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
}
#corpo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    width: 1000px;
    height: 65px;
    background-color: black;
    border-radius: 20px;
   
}
.botao_editar {
    margin-left: auto;
    padding: 5px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.categorias{
    display: flex;
    justify-content: space-between;
    align-items: center;   
    margin-left: autopx;
    padding: 30px;
}
h3 {
    text-align: center;
}

.dentro_categorias{
    width: 175px;
    height: 158px;
    text-align: center;
    border-radius: 48px;
    transition: 0.7s; 
}
.dentro_categorias:hover{
    width: 135px; /*transição para aumentar o tamanho da caixa*/
    height: 145px;
    transition: 0.7s; /*transição para aumentar o tamanho da caixa*/
    text-align: center;
    border-radius: 40px;
    background-color: red;
}
.img_categorias{
    transition: 0.7s; 
    width: 100px; 
    height: auto;
        }
.img_categorias:hover{
    transition: 0.7s; 
    width: 115px; 
    height: auto;
}
.parte_categorias {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 25px;
   padding: 20px;
}

.search-box{
    background: white;
    height: 20px;
    padding: 10px;
    width: 400px;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}
.search-text {
    background: none;
    border: 0;
    outline: 0;
    padding: 0;
    font-size: 15px;
    transition: 0.6s;
}
.search-btn {
    cursor: pointer;
    border-radius: 15px;
}
.loupe-white{
    display: none;
}
.search-box:hover > .search-text {
    width: 370px;
    padding-left: 8px;
}
.search-box:hover > .search-btn {
   background: black;
}
.search-box:hover > .search-btn .loupe-black{
    display: none;
 }
 .search-box:hover > .search-btn .loupe-white{
    display: block;
 }
 
 .parte_vendas {
   
    display: flex;
    justify-content: space-between;
    margin: 50px;
    
 }
 .img_vendas{
    transition: 1s; 
    width: 200px; 
    height: auto;
        }
.img_vendas:hover{
    transition: 1s; 
    width: 220px; 
    height: auto;
}