 
body {
    display:block;
    position: relative;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(red,black);
 }
 
 #estilo_img{
    padding: 10px;
    text-align: center; 
}

img {
    width: 150px;
    height: 150px;
}

h1 {
    text-align: center; 
    color: white;
    font-size: 22px;
}
